################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/pdfsign/bin
/pdfsign/obj
/.idea
